Django>=5.1,<6.0           # Latest stable version of Django
gunicorn>=20.1.0
whitenoise[brotli]         # Serve static files in production
psycopg2-binary            # PostgreSQL database adapter (if using PostgreSQL)
